@import url('https://fonts.googleapis.com/css?family=Kalam|Quicksand');
:root {
    --primary: rgb(20, 58, 225);
    --secondary: gold;
    --my-graident: linear-gradient(var(--secondary), var(--primary));
    --my-shadow: 1px 1px black;
}

body {
    background-image: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background-repeat: no-repeat;
}

.navbar {
    background-image: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.title {
    font-family: 'Kalam',
    cursive;
    color: var(--primary);
}


h6,
#hint,
#answer,
#lives {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: var(--secondary);
    text-shadow: var(--my-shadow);
    font-size: 2rem;

}

#answer {
    width: fit-content;
    height: auto;
    opacity: 0.9;
    margin: auto;
    color: var(--primary);
    font-size: 2rem;
}

#hint {
    width: fit-content;
    height: auto;
    color: var(--secondary);
    text-shadow: var(--my-shadow);
    opacity: 0.9;
    margin: auto;
}

#lives {
    width: fit-content;
    height: auto;
    opacity: 0.9;
    margin: auto;
}

div.box {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;
    text-shadow: var(--my-shadow);
    color:#000;
}

@media all and (max-width: 450px) {
    body {
        height: 150vh;
    }

    div.box {
        width: 70px;
        height: 70px;
        border: blue;
    }
}