@import url('https://fonts.googleapis.com/css?family=Kalam|Quicksand');

:root {
    --primary: rgb(20, 58, 225);
    --secondary: gold;
    --my-graident: linear-gradient(var(--secondary), var(--primary));
    --my-shadow: 1px 1px black;
    --offset: blue;
}

body {
    background-color: #2696F1;
}

img {
    border: 1px solid black;
    box-shadow: 10px 10px blue;
}

#hint,
#answer,
#lives {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: var(--secondary);
    text-shadow: var(--my-shadow);
    font-size: 2rem;

}

#answer {
    width: fit-content;
    height: auto;
    margin: auto;
    color: var(--secondary);
    font-size: 2rem;
}

#hint {
    width: fit-content;
    height: auto;
    color: var(--secondary);
    text-shadow: var(--my-shadow);
    margin: auto;
}

#lives {
    width: fit-content;
    height: auto;
    margin: auto;
    color: var(--secondary);
    text-shadow: var(--my-shadow);
}

div.box {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    height: 10px;
    width: auto;
    text-shadow: var(--my-shadow);
    color: #000;
    padding: 0;
}

@media all and (max-width: 450px) {
    body {
        height: 150vh;
    }

    div.box {
        width: 70px;
        height: 70px;
        border: blue;
    }
}